<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModernMenuUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

	<appSettings>
		<add key="SUPABASE_URL" value="https://rsxbijjrwvnuvilacjnz.supabase.co" />
		<add key="SUPABASE_KEY" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzeGJpampyd3ZudXZpbGFjam56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MjgzMjAsImV4cCI6MjA3NjIwNDMyMH0.ExsnYP-Ij_5YAPqD_Z5w_bA9Yk-LzeYCXLfzzrsXgQ8"/>
	</appSettings>
	
    <userSettings>
        <ModernMenuUI.Properties.Settings>
            <setting name="UltimoUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowsSidVinculado" serializeAs="String">
                <value />
            </setting>
        </ModernMenuUI.Properties.Settings>
    </userSettings>
</configuration>